@model ENT_Web.Models.AdminModel.Issue
@using System.Data;
@{
    ViewBag.Title = "IssueList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    DataSet ds = (DataSet)ViewBag.Issue;
}


<div class="card">
    <div class="card-body">
        <h2>Issue</h2>
        <p></p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Heading</th>
                        <th scope="col">Position</th>
                        <th scope="col">Publication Number</th>
                        <th scope="col">Publication Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ds != null && ds.Tables[0].Rows.Count > 0)
                        {
                            for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
                            {
                                <tr>
                                    <td>@ds.Tables[0].Rows[i]["IssueHeading"].ToString()</td>
                                    <td>@ds.Tables[0].Rows[i]["IssuePosition"].ToString()</td>
                                    <td>@ds.Tables[0].Rows[i]["PublicationNumber"].ToString()</td>
                                    <td>@Convert.ToDateTime(ds.Tables[0].Rows[i]["PublicationDate"].ToString()).ToString("dd/MM/yyyy") </td>
                                    @if (ds.Tables[0].Rows[i]["ImageFile"].ToString() != "")
                                    {
                                        <td><img src="@Url.Content("~/images/gallery/" + ds.Tables[0].Rows[i]["ImageFile"].ToString())" style="max-width: 100%;height: 100px; border-radius:10px;" /> </td>
                                    }
                                    else
                                    {
                                        <td><img src="@Url.Content("~/images/gallery/no-picture.png")" style="max-width: 100%;height: 100px; border-radius:10px;" /> </td>
                                    }
                                    <td><input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Issue","Admin", new { id = ds.Tables[0].Rows[i]["IssueId"]})'"></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




